<div [ngStyle]="{'color':color, 'font-size':fontSize+'px'}">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque mollitia alias fugit quia sapiente corporis tempore nihil deleniti cumque? Aut quibusdam hic mollitia sint error voluptates laudantium magni, ipsum dolorum.</p>
</div>

<div [ngClass]="{'isactive':isActive, 'notactive':notActive}">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque mollitia alias fugit quia sapiente corporis tempore nihil deleniti cumque? Aut quibusdam hic mollitia sint error voluptates laudantium magni, ipsum dolorum.</p>
</div>